<html>
    <title>
        Events Page
    </title>
    <body>
        <table>
            <tr> Date </tr>
            <% for (result in results) { %>
                <tr>  <%= results[result].date %>  </tr>
            <% } %>
        </table>
    </body>
</html>